<br>
<div class="container">
  <div class="row>">
    <h2>Scrape APK</h2>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Logo</th>
        <th>Download Link</th>
      </tr>


      <% @doc.css("dl").each do |item| %>
          <tr>
            <td> <%=  item.at_css(".title-dd a").text %></td>
            <td><%=  raw(item.at_css("img")) %></td>
            <td><%=  link_to "Download", ("https://apkpure.co/"+ item.at_css(".down a")[:href] ),target:"_blank"%></td>
          </tr>
      <% end %>

    </table>
    <div>

      <h2>Scrape Sitemap</h2>
      <%= link_to "Create CSV",download_csv_homes_path(:csv),class:"btn btn-default" %>
    </div>
    <table class="table">
      <tr>
        <th>link</th>

      </tr>


      <% @xml.css("loc").each do |item| %>
          <tr>
            <td> <%=  item.text %></td>
          </tr>
      <% end %>

    </table>
  </div>
</div>